body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

div:first-child {
  margin-top: 0px;
}

div {
  cursor: pointer;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.8em;
  width: 200px;
  margin-top: 1px;
  background: #cccccc;
}

p{
	text-align: center;
}

#donate{
	text-align: center;
	font-size: 1.3em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.button {
  background-color: #cccccc;
  border: none;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Georgia;
  color: black;
  margin: 0px 0px;
  cursor: pointer;
  width: 210px;
  transition-duration: 0.4s;
}

.button:hover{
	background-color: #b0b0b0; //
}